# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fcb311612a0bbbc6b5f86dff14e206fa0e6447fb50fe19ec18485c3fdfab301e5200daad418854dc66beeea958a229f9518a624401c9ac32d616c237844b769d
  jwt_secret: 63a06870795c3724eb6dcfc759483c3471bb52cac4028c93696016d1ef45b0d29409c2c75a3effb7845d6048f1b8a404bdea659c55aa69f630b459a413387f34
  jwt_expiration_hours: 24

test:
  secret_key_base: dee55587f123eb091f2fb130b9fd1eaa31e38411995d63ef9de79b4503f675041263a8586498c644d3d72ce22064c8dd94885a881db8df9121e03b08662d5d9c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base:  <%= ENV["SECRET_KEY_BASE"] %>
  jwt_secret: a414540c846f7baa1d5c8e6a95998edfff309faa6d3a9898d189d7888f94cc4099b618bfa3584bb4ecc8d9ef03ac94283c0fbfa5217b87f036ba5750683f8978
  jwt_expiration_hours: 6
